.navbar {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--dark-main);
    color: var(--green);
    display:flex;
    justify-content: flex-end;
    padding: 2% 5% 5% 0%;
}
.wrapper {
    display: flex;
    /* justify-content: space-between; */
    /* width: 45vw; */
}
.mentor {
    color: var(--green);
    font-size: 16px;
    width: 176px;
    height: 50px;
    top: 1rem;
    font-weight: 500;
    justify-content: flex-start;
}
.button {
    border-radius: 2px;
    color: var(--white);
    background-color: var(--green);
    width: 183px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
}
/* From Figma's Hamburger */
.hamburglar {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 576px;
    top: 39px;
}

/* Another Hamburger Tutorial */
/* This one looks better */
/* https://css-tricks.com/hamburger-menu-with-a-side-of-react-hooks-and-styled-components/ */

/* Below here, the Hamburger tut */
/* https://codingislove.com/hamburger-buttons/ */
/* .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    transform: translate(-50%,-50%);
} */
/* .navbar{
    width: 100px;
    height: 100px;
    position: relative;
    border: 5px solid #49b293;
    cursor: pointer;
    transition: all 0.3s ease;
} */
/* .navbar div{
    height: 8px;
    width: 60px;
    background-color: #49b293;
    position: absolute;
    transition: all 0.5s ease;
} */
/* .navbar .first{
    top: 25px;
    left: 20px;
} */
/* .navbar .second{
    top: 45px;
    left: 20px;
} */
/* .navbar .third{
    top: 65px;
    left: 20px;
} */
/* 
.navbar:hover .first {
    transform: translateY(20px) rotate(45deg);
    transition: all 0.5s ease;
} */
/* .navbar:hover .first {
    width:40px;
    transform: translate(-5px, 10px) rotate(50deg);
    transition: all 0.5s;
} */
/* .navbar:hover .second {
    opacity: 0;
    transition: all 0.2s ease;
} */
/* .navbar:hover .second {
    opacity:0;
    transition: all 0.5s;
} */

/* .navbar:hover .third{
    transform: translateY(-20px) rotate(-45deg);
    transition: all 0.5s ease;
} */
/* .navbar:hover .third {
    width:40px;
    transform: translate(18px, -10px) rotate(-50deg);
    transition: all 0.5s;
} */
/* .navbar:hover{
    border-radius:50%;
    transition: all 0.3s ease;  
} */
